<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>北商資管</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-toggleable-lg navbar-light bg-light">				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="/">北商資管</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="form-inline" action="/productModifyForm">
						<input class="form-control mr-sm-2" type="text" placeholder="請輸入產品編號" name="proNo"> 
						<button class="btn btn-primary my-2 my-sm-0" type="submit">
							查詢
						</button>
					</form>				
				</div>				
			</nav>
			<div class="jumbotron">
				<h2>
					資料更改
				</h2>
			</div>
			
			
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!-- 內容                                 -->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="row">				
				<div class="col-md-12">		
					<form role="form" method="post" action="/productModify">
						<div class="form-group">							 
							<label>	產品編號 </label>
							<input type="text" readonly class="form-control" value="<%= items[0].proNo %>" name="proNo" />
						</div>
						
						<div class="form-group">							 
							<label>	產品名稱 </label>
							<input type="text" maxlength="20" class="form-control" value="<%= items[0].proName %>" name="proName" />
						</div>
						
						<div class="form-group">							 
							<label>	單價 </label>
							<input type="number" min="0" class="form-control" value="<%= items[0].price %>" name="price" />
						</div>
						
						<div class="form-group">							 
							<label>	庫存量 </label>
							<input type="number" min="0" class="form-control" value="<%= items[0].stockAmt %>" name="stockAmt" />
						</div>				
						
						<div class="form-group">							 
							<label>	盤點日期 </label>
							<input type="date" class="form-control" value="<%= items[0].inventoryDate %>" name="inventoryDate" />													
						</div>
						
						<button type="submit" class="btn btn-primary">
							更改
						</button>
					</form>				
				</div>				
			</div>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>



