<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>北商資管</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-toggleable-lg navbar-light bg-light">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="/">北商資管</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">交易處理</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/exportsForm">銷貨</a> 
								<a class="dropdown-item" href="/importsForm">進貨</a> 
								<a class="dropdown-item" href="/exportsBackForm">銷貨退回</a> 	
								<a class="dropdown-item" href="/importsBackForm">進貨退出</a> 									
							</div>
						</li>					
					</ul>			
				</div>				
			</nav>
			
			<div class="jumbotron">
				<h2>
					交易處理
				</h2>
			</div>
			
			
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!-- 內容                                 -->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="row">				
				<div class="col-md-12">		
					<form role="form" method="post" action="/exports">
						<div class="form-group">							 
							<label>	銷售編號 </label>
							<input type="text" maxlength="5" required class="form-control" name="ordNo" />
						</div>
						
						<div class="form-group">                     
							<label> 客戶編號 </label>  
							<select type="text" maxlength="4" class="form-control" name="cusNo">
								<% customerItems.forEach(function(customerItem){ %>                         
									<option value="<%= customerItem.cusNo %>"> <%= (customerItem.cusNo + " " + customerItem.cusName) %></option>                                
								<% }); %>                                                     
							</select>                       
						</div>
						
						<div class="form-group">                     
							<label> 員工編號 </label>  
							<select type="text" maxlength="4" class="form-control" name="empNo">
								<% employeeItems.forEach(function(employeeItem){ %>                         
									<option value="<%= employeeItem.empNo %>"> <%= (employeeItem.empNo + " " + employeeItem.empName) %></option>                                
								<% }); %>                                                     
							</select>                       
						</div>						

						<div class="form-group">							 
							<label>	訂貨日期 </label>
							<input type="date" required class="form-control" id="theDate" name="ordDate" />
							<script>
								//----------------------
								//設定初值為今日
								//----------------------
								var date = new Date();
								var day = date.getDate();
								var month = date.getMonth() + 1;
								var year = date.getFullYear();
								if (month < 10) month = "0" + month;
								if (day < 10) day = "0" + day;
								var today = year + "-" + month + "-" + day;       
								document.getElementById("theDate").value = today;
							</script>							
						</div>
						
						<div class="form-group">							 
							<label>	運費 </label>
							<input type="number" min="0" class="form-control" value="0" name="transFee" />
						</div>						

						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<!-- 用來產生多個輸入項目的樣板 -->
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						<div class="form-group dynamic-element" style="display:none">
						    <div class="row">															
								<div class="col-md-6">
									<div class="form-group">                     
										<label> 產品 </label>  
										<select type="text" maxlength="4" class="form-control" name="proNo">
											<% productItems.forEach(function(productItem){ %>                         
												<option value="<%= productItem.proNo %>"> <%= (productItem.proNo + " " + productItem.proName) %></option>                                
											<% }); %>                                                     
										</select>                       
									</div>						  												
								</div>
							  
								<div class="col-md-5">
									<div class="form-group">							 
										<label>	數量 </label>
										<input type="number" min="0" class="form-control" value="0" name="amt" />
									</div>							  												
								</div>								
								
								<div class="col-md-1">
									<label>	</label>
									<p class="delete">取消</p>
								</div>
						    </div>
						</div>
						<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
						
						
						<fieldset>
						    <div class="dynamic-stuff" style="background:#fafafa;padding:0 20px">
							    <!-- 用來放置動態項目的區域 -->
						    </div>
						  
						    <!-- 增加項目按鈕 -->
						    <div class="form-group">
						        <div class="row">
							    <div class="col-md-12">
							        <p class="add-one">+ 增加明細項目</p>
							    </div>
						        </div>
						    </div>
						</fieldset>		
	
						<button type="submit" class="btn btn-primary">
							確認交易
						</button>
					</form>	

					
				</div>				
			</div>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>



