<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>北商資管</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					期末考
				</h2>
			</div>
			
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!-- 分頁                                -->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="row">
				<div class="col-md-12">
					<nav>
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link">第<%=pageNo%>頁</a>
							</li>                   

							<% if(startPage>1){ %>
								<li  class="page-item">
									<a class="page-link" href="/?pageNo=<%=(startPage-1)%>">上一區段...</a>
								</li>
							<% } %> 

							<% for(var i=startPage; i<startPage+navSegments; i++) {%>
								<% if(i<=totalPage){ %>
									<li class="page-item">
										<a class="page-link" href="/?pageNo=<%=i%>"><%=i%></a>
									</li>
								<% } %> 
							<% } %>

							<% if(startPage+linePerPage<totalPage){ %>
								<li class="page-item">
									<a  class="page-link" href="/?pageNo=<%=(startPage+navSegments)%>">...下一區段</a>
								</li>
							<% } %>                         
						</ul>
					</nav>
				</div>  
			</div>  

			
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!-- 內容                                 -->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<div class="row">				
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>
									學號
								</th>
								<th>
									姓名
								</th>
								<th>
									科目代號
								</th>
								<th>
									成績
								</th>
							</tr>
						</thead>
						<tbody>
							<% items.forEach(function(item){ %>
								<tr>
									<td>
										<%= item.stuNo %>
									</td>
									<td>
										<%= item.stuName %>
									</td>
									<td>
										<%= item.couNo %>
									</td>
									<td>
										<%= item.score %>
									</td>
								</tr>
							<% }); %>
						</tbody>
					</table>				
				
				</div>				
			</div>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>